<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <form action="/atualizar" method="post">
        <input type="hidden" name="id" value="{{ pessoa['id'] }}">
        <label for="nome">Insira um novo nome para {{ pessoa['nome'] }}: </label>
        <input type="text" name="nome">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>